:root {

  --spacing: 0.1rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --transition: all 0.3s linear;
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  --clr-primary-5: hsl(205, 78%, 60%);
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(218, 218, 218);
  /* background: linear-gradient(90deg,
     rgb(226, 226, 248)0%,
     hsl(13, 100%, 72%) 70%
     ); */
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  transition: all 0.3s linear;
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 1200px;
  margin: 0 auto;



}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.section {
  width: 90vw;
  margin: 8rem auto;
  max-width: var(--max-width);
}

/* background-image: url(bg-pattern-intro.svg);
   opacity:0.5;
   background-size: 750px;
   background-repeat: no-repeat;
   background-position-y: 25vw;
   background-position-x: -5vw;
}
@media screen and (min-width: 900px) {
  .section {
    background-size: 1200px;
    background-repeat: no-repeat;
    background-position-y: 0vw;
    background-position-x: 23vw;
  }
} */


@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

.nav-toggle {
  transform: scale(1.7);
  color: white;
  background: var(--clr-primary-5);
  border-radius: 50%;
  transition: var(--transition);
  cursor: pointer;
  margin: -2rem 0 0 88%;
  position: fixed;
  bottom: 10%;
  right: 15%;
  max-width: var(--max-width);
  border: none;
  width: 35px;
  height: 35px;

}

.menu-bar {
  transform: scale(1.7);
  color: var(--clr-primary-5);
  background: transparent;
  border-radius: 50%;
  transition: var(--transition);
  cursor: pointer;
  margin: 6rem 0 0 2rem;
  position: fixed;
  top: 0;
  max-width: var(--max-width);
  border: none;
 font-size:25px;
  z-index:2;
  display:block;
  /* background-color: */

}
.times-bar {
  transform: scale(1.7);
  color: var(--clr-primary-5);
  background: transparent;
  border-radius: 50%;
  transition: var(--transition);
  cursor: pointer;
  margin: 1rem 12vw 0 1.5rem;
  max-width: var(--max-width);
  border: none;
  font-size: 25px;
  text-align: right;
  display: block;

  /* background-color: */

}
.times-bar:hover{
   color: grey;
}


.menu-bar:hover {
  color: grey;
  transform: rotate(90deg);
  outline:none;
}

.form-box {
  margin: 0rem auto;
  display:flex;
  justify-content:center;
  width:100%;
}
.form{
  margin:0 auto;
  width:95%;
}


.nav-toggle:active {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
  
  
}

.title {
  color: rgb(68, 78, 78);
  text-align: center;
  position:fixed;
  top: 0;
  z-index:2;
  margin:0 auto;
  background-color:rgb(218, 218, 218);
  display:block;
  padding:0.5rem 0 2.3rem 0;
  width:100%;
border-radius:10px;
}

.form h4 {
  margin: auto 0.5rem;


}

.category {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 95%;



}

.categoryDiv {
  margin-top: 15px;

}

.categoryCircle {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  color: rgb(61, 58, 58);
  font-weight: bold;
  font-size: 11px;
  padding: 5px 3px;
  margin: 8px 13px;
  ;
  cursor: pointer;
  transition: var(--transition);
  height: 20px;
  display: inline-block;
  transform: scale(1, 1);
  transition: var(--transition);

}

.toggledCategoryClass:active {

  transform: scale(1.2, 1.2);
}

/* .toggledCategoryClass:focus{
  background-color:rgba(156, 155, 155, 0.575);
  color:white;
} */
.btn-category {
  border: none;
  background-color: transparent;
  margin-bottom: 1rem;
  cursor: pointer;
  font-weight: bold;
  color: rgb(82, 80, 80);
  margin-top: 2rem;


}

.alert {
  
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
  border-radius: 0.25rem;
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  padding:2px 5px;
  width:90%;
  z-index:3;
  margin:1.1em auto;
  position:fixed;
  word-break: break-word;

}

.alert-failure {
  color: #721c24;
  background: #df15267e;
}

.alert-success {
  color: #0c521c;
  background: #9feeb2;
}

.categoryNameContainer {
  padding: 2rem 1rem;
}

.categoryName {
  margin-top: 0.5rem;
  width: 95%;
  height: 1.25rem;
  border: none;
  border-bottom: 1px solid rgb(204, 79, 7);
  background-color: transparent;
  font-size: 14px;
}

.categoryName:focus {
  outline: none;
}

.dottedLines {
  width: 95%;
  height: 30px;
  border-bottom: 2px dotted rgb(141, 137, 137);
  margin-left: 5px;
  margin-top: 2px;


}

.colors-Div {
  display: flex;
  width: 95%;
  color: rgb(141, 137, 137);
  justify-content: space-between;

}

.circles {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 95%;


}

.categoryCircle:hover {
  border: 4px solid rgb(161, 160, 160, 0.651);
}

.categoryCircle:active {
  border: 4px solid rgb(161, 160, 160, 0.651);
}

.category-Colors {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  cursor: pointer;
}

.wordButtons {
  display: flex;
  justify-content: flex-end;


}

.saveButton {
  margin: 1rem 1rem 0.25rem 1rem;
  position: absolute;
  right: 1.5rem;
  border: none;
  /* border:1px solid rgba(129, 129, 129, 0.438); */
  width: 80px;
  height: 30px;
  background-color: rgb(109, 176, 180);
  color: rgba(250, 246, 246, 0.815);
  border-radius: 10px;
  box-shadow: rgba(39, 41, 43, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}

.saveButton:hover {
  background-color: rgba(177, 176, 176, 0.815);
  color: white;
}

.input-title {
  margin-top: 5rem;
  margin-bottom: 10px;
  margin-left: 10px;
  /* margin:20px 0;  */
  background-color: transparent;
  outline: none;
  width: 95%;
  line-height: 20px;
  border: none;
  font-size: 24px;
  font-weight: bold;
  height:auto;
  overflow-y:visible;
  line-break:loose;
  word-break: break-word;
}

.notes {
  background-color: transparent;
  outline: none;
  width: 95%;
  min-height: 30rem;
  line-height: 20px;
  text-align: top;
  border: none;
  margin-bottom: 20px;
  margin-left: 10px;
  overflow-y:visible;
}

.words {
  /* background-color:rgb(243, 243, 252); */
  margin-top: 20px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.192) 0px 5px 30px;
  position: relative;
  border-radius: 5px;
  width: 95%;
  height: auto;
  
}

.noNotes {
  margin:auto;
  text-align: center;
  font-size: 16px;
  font-weight:bold;
  color:grey;
  
}

.notesPage {
  margin: 20px auto;
  max-width: 95%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 'category notes '
    'category notes';

}

.notesCategory {
  position:fixed;
  top: 3px;
  grid-area: category;
  display: flex;
  z-index:10;
  background-color:rgb(218, 218, 218);
  border-right:3px solid var(--clr-primary-5);
  /* border-top:3px solid var(--clr-primary-5); */
  
  /* justify-content: space-between; */
  flex-wrap: no-wrap;
  width:70%;
  flex-direction: column;
  flex-wrap: none;
  justify-content: flex-start;
  margin:  0 1rem 3rem 0;
  height: 100%;
  /* overflow-y:scroll; */
  padding:2rem 2rem;
  border-radius:10px;
  box-sizing:border-box;
  border-radius:0 40px 40px 0;
    box-shadow: 3px 3px 6px -3px rgba(0, 0, 0, 0.7);

}


.actualNotes {
  grid-area: notes;
  display: grid;
 grid-template-columns:1fr 1fr;
  margin: 4% 1rem;
border-radius:10px;
padding-top:2rem;
}
@media screen and (min-width:720px) {
  .notesCategory {
    top: 3px;
  }

  .actualNotes {
    padding-top: 5rem;
  }
  .form-box {
    margin: 0rem auto;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
  }

  .form {
    margin: 0 auto ;
    width: 90%;
  }
  .notesCategory{
    width:400px;
    margin-left:0;
  }
  .times-bar{
    margin-right:5rem;
  }
}


.dropDown{
  font-size:2.5rem;
  color:rgb(83, 82, 82);
  margin-top:12px;
}
.dropDown:active {
  color: var(--clr-primary-1);
  transform: rotate(180deg);


}
.cgNotes{
  font-size:2.5rem;
  color:rgb(83, 82, 82);
}
.notesCategoryCircle {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  color: rgb(61, 58, 58);
  font-weight: bold;
  font-size: 11px;
  padding: 5px 3px;
  margin: 8px 13px;
  transition: var(--transition);
  height: auto;
  transform: scale(1, 1);
  transition: var(--transition);
  width: 150px;

}
.notesCategoryCircle2{
  display:flex;
  justify-content:space-between;
  width:200px;
}


.notesCategoryCircle:hover {
  border: 4px solid rgb(161, 160, 160, 0.651);
}

.notesCategoryCircle:active {
  border: 4px solid rgb(161, 160, 160, 0.651);
}

.singleNote {
  margin: 0.5rem 10px;
  width: 13rem;
  height: auto;
  max-height: 250px;
  background-color: rgba(235, 238, 241, 0.856);
  border-radius: 15px;
  text-align: left;
  padding: 2px 1rem 1.7rem 1.5rem;
  box-sizing: border-box;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  word-break: break-word;

}

.delete-btn {
  position: relative;
  top: 95%;
  left: 85%;
  border: none;
  transform: scale(1.4);
  color: rgb(63, 62, 62);
  width: 10px;
  margin-top: 0;
  background-color: transparent;
}
.delete-btn1 {
 
  border: none;
  transform: scale(1);
  color: rgb(63, 62, 62);
  width: 10px;
  margin-top: 0;
  background-color: transparent;
}


@media screen and (min-width: 800px) {
  .notesPage {
    margin: 80px 5rem;
    grid-template-areas: 'category notes'
      'category  notes';
    grid-template-columns: 1fr 4fr;
    gap: 2rem;

  }

  .notesCategory {
    flex-direction: column;
    flex-wrap: none;
    justify-content: flex-start;
    
  }

  .actualNotes {
    margin-top: -2rem;
  }

  .singleNote {
    width: 15rem;

  }

  /* .notesCategoryCircle{
  width:150px;
} */
}


@media screen and (min-width: 580px) and (max-width:800px) {
  .singleNote {
    width: 13rem;

  }
}

@media screen and (max-width:520px) {
  .singleNote {
    width: 10rem;

  }
}

@media screen and (max-width:410px) {
  .singleNote {
    width: 8rem;

  }
}

@media screen and (min-width: 1020px) {
  .singleNote {
    width: 18rem;

  }
}